button {
    border: 2px solid  rgb(37, 0, 124);
    background-color: white;
    padding: 8px;
    font: inherit;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: rgb(113, 151, 255);
}